@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

.bg-Client{

width: 1250px;
height: 822px;

margin-left: auto;
margin-right: auto;
margin-top: 8rem;


background: #F0F5F9;
border-radius: 10px;
}

p.View{ 
    
width: 330px;
height: 79px;
padding-left: 2rem;
margin-top: 3rem;
font-family:   'Signika', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 39px;

color: #000000;
}

b.client{ 
    color: #0470B5;
}

#search{
 
    width: 200px;
    height: 25px;
   
    margin-left: 50% ;
    margin-top: 3.25rem;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family:   'Signika', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 15px;
}

.test{
    display: flex;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .cardClient{
box-sizing: border-box;


width: 296px;
height: 150px;
left: 5rem;
top: 17rem;

background: #FFFFFF;
border: 5px solid #0873B8;
border-radius: 10px;
  }

.grid-client{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    padding-left: 5rem;
    
}

#name{
    width: 131px;
height: 25px;
left: 221px;
top: 447px;

font-family:   'Signika', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
}