@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&display=swap');

.bg-Checkout{
    
    width: 90%;
    height: 100%;
    padding: 4rem;
    background: #FFFFFF;
    border-radius: 10px;
    }

  
        
       
h1#checkout{ 
        
        width: 400px;
        height: 20px;
        padding-left: 5rem;
        margin-top: 7rem;
        font-family:   'Catamaran', sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 35px;
        line-height: 39px;
        
        color: #000000;
        }
        
  
  
     
        
       
    
        .test{
            display: flex;
        }
        
        
    
        .grid-orders{
            display: grid;
            margin-left: 22rem;
            margin-top: 2rem;
            grid-template-areas: 
            'orderProduct'
            'orderTotal'
            ;
           
      
            border: 2px solid #EDFF1F;
            border-radius: 0.5rem;
           background-color: #ffffff;
        
           
          width: 37rem;
           height: 25rem;
          
        }

        .orderProduct{ grid-area: orderProduct;overflow: auto;height: 17rem;}

        #total{margin-left: 106%;margin-top: 1rem;grid-area: total; font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 29px;
            
            color: rgba(0, 0, 0, 0.48);
            }
        #Prixx{margin-left: 53%;margin-top: 1rem;grid-area: prixx; color: #FF0505; font-weight: 600; font-size: 22px;}
        .valider{grid-area: valider;height: 1.5rem;width: 4rem;margin-left: 53%; background: #0873B8;
            border-radius: 8px; color: #FFFFFF; border: none;}
        .orderTotal{grid-area: orderTotal;   
            display: grid;
            grid-template-areas: 
            'total prixx'
            'total valider';
            height: 8rem;border-top: #D9D9D9 solid 2px;
            column-gap: 0rem;
           
        }

        
 .select{
   size: 10rem ;
 }