
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
.bg-Form{
    box-sizing: border-box;
    position: absolute;
    width: 57%;
    height: 420px;
  left: 20%;
    top: 20%;
    bottom : 20%;
    background: #F0F5F9;
    
    border-radius: 25px;
    }
    
    p.welcome{
        position :absolute;
      width: 384px;
      height: 117px;
      left: 20%;
      top: 33%;
      font-family: 'Signika', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 28px;
      line-height: 39px;
      text-align: center;
      
      color: #000000;
      
      
      
      }
      b.login{
          font-family: 'Signika', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 39px;
      text-align: center;
      color: #0268AF;
      
      }
    
    .vl {
        position: absolute;
      border-left: 3px solid #EDFF1F;
      height: 420px;
     
      left: 48%;
      margin-left: -3px;
      top: 20%;
    }
    
    label.fuser{
      
    position: absolute;
    left: 54%;
    top: 31%;
    
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Signika', sans-serif;
    
    color: rgba(24, 18, 18, 0.63);
    }
    
    #fuser{
   position: absolute;
    width: 260px;
    height: 35px;
    left: 53%;
    top: 35%;
    background: #FFFFFF;
    border-radius: 8px;
    border : none;
    
    }
    
    label.fmdp{
      position: absolute;
    left: 54%;
    top: 44%;
   
    font-weight: 300;
    font-size: 16px;
    font-family: 'Signika', sans-serif;
    color: rgba(24, 18, 18, 0.63);
    }
    
    #fmdp{
    position : absolute;
    width: 260px;
    height: 35px;
    left: 53%;
    top: 47%;
    background: #FFFFFF;
    border-radius: 8px;
    border : none;
    }
    
    #button-login{
    position : absolute ;
    width: 260px;
    height: 35px;
    left: 53%;
    top: 24rem;
    color : white;
    
    font-size: 15px;
    font-weight: bold;
      cursor: pointer;
    background: linear-gradient(270deg, #0873B8 0%, #0873B8 0.01%, rgba(46, 159, 205, 0.89958) 35.94%, rgba(76, 195, 222, 0.81921) 70.83%, rgba(108, 232, 240, 0.734375) 84.37%, rgba(173, 233, 237, 0.734375) 95.83%);
    border-radius: 8px;
    border: none;
    }

    img.Logo1{
    position:fixed;
width: 45%;
height: 53%;
left: 0px;
top: 47%;

    }