
.bgHeader{
    position: fixed;
    width: 100vw;
    height: 80px;
    border-bottom: solid;
  background-color: #FFFFFF;
 
    border-color: #EFE3E3;
    border-width: 1px;
}


img.Logo2{
   
width: 77px;
height: 85px;
padding-left: 45%;

}

.logout{
  position : absolute;
width: 30px;
height: 30px;
left: 1279px;
top: 25px;
color: #0268AF;
}